<style>
    *{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background-color: #f6f5f7;
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
.buttoncss{
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
</style>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<h1 style="color: #324960; text-align: center;">Expenses Data</h1>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%- include('./partials/homelink') %>
<div class="table-wrapper">
    <table class="fl-table">
        <form action="/expense/addexpenses" method="post">
            <button type="submit" style="background-color: blue; color: white;" class="buttoncss">Add Expense</button> 
          </form>
        <thead>
            
        <tr>
            <th>Expense Type</th>
            <th>Expense Amount</th>
            <th>Expense Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            <% for(var i=0;i<data.length;i++){%>
        
                    
            <tr>
                <td><%=data[i].expensestype %></td>
                          <td><%=data[i].expenseamount %></td>
                          <td><%=data[i].Date %></td>
                          <td>
                            <form action="/expense/edit" method="post" style="display: inline-block; margin-right: 5px;">
                                <input type="hidden" name="ukey" value="<%= data[i]._id %>">
                                <button type="submit" style="font-size:20px; padding: 5px 10px; background-color: #4FC3A1; border: none; color: white;">
                                    <i class='fas fa-edit' style='font-size:20px;color:white'></i> Edit
                                </button>
                            </form>
                            <form action="/expense/delete" method="post" style="display: inline-block;">
                                <input type="hidden" name="mkey" value="<%= data[i]._id %>">
                                <button type="submit" style="font-size:20px; padding: 5px 10px; background-color: red; border: none; color: white;">
                                    <i class='fas fa-trash' style='font-size:20px;color:white'></i> Delete
                                </button>
                            </form>
                        </td>
                        
              </tr>
                 
              <% } %>
   
       
        <tbody>
    </table>
</div>